.asteriskField {
    display: none;
}
.croped-img img,
.preview img {
  width: 100%;
  max-height: 350px;
}

/* Rep Create */

.rep-create {
    margin-top: 20px;
    margin-bottom: 20px;
}

/* Republic Card */
.card {
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: border-box;
  border: 1px solid #e3e6f0;
  border-radius: .35rem;
}
.border-left-primary {
  border-left: .25rem solid #4e73df!important;
}
.border-left-success {
  border-left: .25rem solid #1cc88a!important;
}
.border-left-info {
  border-left: .25rem solid #36b9cc!important;
}
.border-left-warning {
  border-left: .25rem solid #f6c23e!important;
}