{% extends "base.html" %}

{% block title %}Meu Blog 🐍{% endblock %}

{% block content %}
    {% for post in post_list %}
        <article>
            <h2>
                <a href="{{ post.get_absolute_url }}">
                    {{ post.nome }}
                </a>
            </h2>
            <p class="date">
                Publicado em {{ post.criado }} por {{ post.autor }}
            </p>
            {{ post.body|linebreaks|truncatewords:10 }}
        </article>
    {% endfor %}
{% endblock %}
