{% extends "base.html" %}

{% block title %}SocialRep{% endblock %}

{% block content %}
    {% for rep in rep_list %}
        <article>
            <h2>
                <a href="{{ rep.get_absolute_url }}">
                    {{ rep.name }}
                </a>
            </h2>
            <p class="date">
                Publicado em {{ rep.created }} por {{ rep.author }}
            </p>
            {{ post.body|linebreaks|truncatewords:10 }}
        </article>
    {% endfor %}
{% endblock %}