{% extends "base.html" %}
{% load crispy_forms_tags %}
{% block title %}SocialRep{% endblock %}
{% load static %}
{% block content %}
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="form-row">
            <div class="form-group col-md-6 mb-0">
                {{ form.name|as_crispy_field }}
            </div>
            <div class="form-group col-md-6 mb-0">
                {{ form.slug|as_crispy_field }}
            </div>
        </div>
        {{ form.body|as_crispy_field }}
        {{ form.img|as_crispy_field }}
        <div class="form-row">
            <div class="form-group col-md-4 mb-0">
                {{ form.has_animal|as_crispy_field }}
            </div>
            <div class="form-group col-md-4 mb-0">
                {{ form.has_3d_printer|as_crispy_field }}
            </div>
            <div class="form-group col-md-4 mb-0">
                {{ form.has_garage|as_crispy_field }}
            </div>
            <div class="form-group col-md-4 mb-0">
                {{ form.has_grill|as_crispy_field }}
            </div>
            <div class="form-group col-md-4 mb-0">
                {{ form.has_internet|as_crispy_field }}
            </div>
            <div class="form-group col-md-4 mb-0">
                {{ form.has_maid|as_crispy_field }}
            </div>
            <div class="form-group col-md-4 mb-0">
                {{ form.has_pool|as_crispy_field }}
            </div>
            <div class="form-group col-md-4 mb-0">
                {{ form.has_snooker|as_crispy_field }}
            </div>
            <div class="form-group col-md-4 mb-0">
                {{ form.has_washing_machine|as_crispy_field }}
            </div>
        </div>
        <button type="submit" class="btn btn-primary">Criar Rep</button>
    </form>
{% endblock %}