{% extends "base.html" %}
{% load crispy_forms_tags %}
{% block title %}SocialRep{% endblock %}
{% load static %}
{% block style %}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/cropperjs/1.5.11/cropper.css">
{% endblock %}
{% block content %}
    <form class="rep-create" method="post" enctype="multipart/form-data" style="margin: 20px 100px">
        {% csrf_token %}
        {{ form|as_crispy_errors }}
        <div class="form-row">
            <div class="form-group col-md-4 mb-0">
                {{ form.name|as_crispy_field }}
            </div>
            <div class="form-group col-md-4 mb-0">
                {{ form.slug|as_crispy_field }}
            </div>
            <div class="form-group col-md-4 mb-0">
                {{ form.since|as_crispy_field }}
            </div>
            <div class="form-group col-md-4 mb-0">
                {{ form.type|as_crispy_field }}
            </div>
            <div class="form-group col-md-4 mb-0">
                {{ form.residents|as_crispy_field }}
            </div>
            <div class="form-group col-md-4 mb-0">
                {{ form.lived|as_crispy_field }}
            </div>
        </div>
        {{ form.body|as_crispy_field }}
        {{ form.img|as_crispy_field }}
        <div class="form-group">
            <div id="image-box" class="image-container"></div>
            <button class="btn btn-outline-info" id="crop-btn" style="width: 100%; margin-top: 10px; display: none;" type="button">Crop</button>
        </div>
        <div class="form-row">
            <div class="form-group col-md-4 mb-0">
                {{ form.has_animal|as_crispy_field }}
            </div>
            <div class="form-group col-md-4 mb-0">
                {{ form.has_3d_printer|as_crispy_field }}
            </div>
            <div class="form-group col-md-4 mb-0">
                {{ form.has_garage|as_crispy_field }}
            </div>
            <div class="form-group col-md-4 mb-0">
                {{ form.has_grill|as_crispy_field }}
            </div>
            <div class="form-group col-md-4 mb-0">
                {{ form.has_internet|as_crispy_field }}
            </div>
            <div class="form-group col-md-4 mb-0">
                {{ form.has_maid|as_crispy_field }}
            </div>
            <div class="form-group col-md-4 mb-0">
                {{ form.has_pool|as_crispy_field }}
            </div>
            <div class="form-group col-md-4 mb-0">
                {{ form.has_snooker|as_crispy_field }}
            </div>
            <div class="form-group col-md-4 mb-0">
                {{ form.has_washing_machine|as_crispy_field }}
            </div>
        </div>
        <button type="submit" class="btn btn-primary">Criar Rep</button>
    </form>
{% endblock %}
{% block script %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/cropperjs/1.5.11/cropper.js"></script>
    <script src="{% static 'js/cropped.js' %}"></script>
    <script src="{% static 'js/slugify.js' %}"></script>
{% endblock %}