{% extends "base.html" %}
{% block title %}SocialRep{% endblock %}
{% load static %}
{% block content %}
    {% for rep in rep_list %}
        <div class="row shadow-sm border rounded p-3" style="filter: blur(0px) grayscale(0%) hue-rotate(0deg);margin: 20px;">
            <div class="col-3 text-center d-table d-sm-table d-lg-flex justify-content-md-center align-items-md-center" style="padding: 0px;">
                <img src="/media/{{ rep.img }}" style="width: 200px;height: 200px;margin: 20px;">
            </div>
            <div class="col-9">
                <div class="row">
                    <div class="col-10">
                        <a href="{{ rep.get_absolute_url }}" style="color: rgb(0,0,0);">
                            <h1>{{ rep.name }}</h1>
                        </a>
                    </div>
                    <div class="col-2 text-nowrap text-center d-sm-flex d-md-flex align-self-center">
                        <i class="fa fa-star" style="color: rgb(255,220,96);"></i>
                        <i class="fa fa-star" style="color: rgb(255,220,96);"></i>
                        <i class="fa fa-star" style="color: rgb(255,220,96);"></i>
                        <i class="fa fa-star" style="color: rgb(255,220,96);"></i>
                        <i class="fa fa-star" style="color: rgb(255,220,96);"></i>
                    </div>
                </div>
                <div class="row d-inline-block" style="height: 160px;">
                    <div class="col">
                        <p>{{ rep.body|linebreaks|truncatewords:40 }}</p>
                        <p class="date">
                            Publicado em {{ rep.created }} por {{ rep.author }}
                        </p>
                    </div>
                </div>
                <div class="row">
                    <div class="col text-nowrap">
                        {% if rep.has_3d_printer %}<img src="{% static 'imgs/3d_printer.svg' %}" width="36" height="36">{% endif %}
                        {% if rep.has_animal %}<img src="{% static 'imgs/animal.svg' %}" width="36" height="36">{% endif %}
                        {% if rep.has_garage %}<img src="{% static 'imgs/garage.svg' %}" width="36" height="36">{% endif %}
                        {% if rep.has_grill %}<img src="{% static 'imgs/grill.svg' %}" width="36" height="36">{% endif %}
                        {% if rep.has_internet %}<img src="{% static 'imgs/internet.svg' %}" width="36" height="36">{% endif %}
                        {% if rep.has_maid %}<img src="{% static 'imgs/maid.svg' %}" width="36" height="36">{% endif %}
                        {% if rep.has_man %}<img src="{% static 'imgs/man.svg' %}" width="36" height="36">{% endif %}
                        {% if rep.has_pool %}<img src="{% static 'imgs/pool.svg' %}" width="36" height="36">{% endif %}
                        {% if rep.has_snooker %}<img src="{% static 'imgs/snooker.svg' %}" width="36" height="36">{% endif %}
                        {% if rep.has_washing_machine %}<img src="{% static 'imgs/washing_machine.svg' %}" width="36" height="36">{% endif %}
                        {% if rep.has_woman %}<img src="{% static 'imgs/woman.svg' %}" width="36" height="36">{% endif %}
                    </div>
                </div>
            </div>
        </div>
    {% endfor %}
{% endblock %}